@include block(c-social-media) {
  float: right;
  list-style-type: none;
  
  @include modifier(light) {
    
    @include element(icon) {
      transition: fill .4s ease;
      fill: $white;
      
      &:hover {
        fill: $blue;
      }
    }
  }
  
  @include element(item) {
    float: left;
    margin-right: 15px;
  }
}
