<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0">
  <title>Furora Media Ltd | Web Development Consultancy based in Essex / London</title>
  <%_ if (process.env.NODE_ENV === 'production') { _%>
  <% include ./meta-tags.ejs %>
  <link rel="canonical" href="https://www.furora.media/" />
  <!-- <link rel="preload" href="/static/bundle.js?v=<%- process.env.DEPLOY_VERSION -%>" as="script"> -->
  <link href="/manifest.json" rel="manifest">
  <link href="/static/styles.css?v=<%- process.env.DEPLOY_VERSION -%>" rel="stylesheet" />
  <%_ } _%>
</head>

<body>
  <div id="app">
    <%- body %>
  </div>
  <script src="/static/bundle.js?v=<%- process.env.DEPLOY_VERSION -%>"></script>
  <script src="https://www.google.com/recaptcha/api.js?onload=recaptchaLoaded&render=explicit" async defer></script>
  <%_ if (process.env.NODE_ENV === 'production') { _%>
  <% include ./register-service-worker.ejs %>
  <% include ./ga-tracking.ejs %>
  <%_ } _%>
  <!-- Test deploy -->
</body>

</html>
