
$white: #fff;
$black: #212121;
$blue: #3a95d2;
$purple: #7e4a97;
$red: #e76049;
$grey: #f5f5f5;

$header-background-color: $black;
$footer-background-color: $blue;

$error-color: $red;
$border-color: $grey;
