$base-url: '../';
$base-image-url: '../images';
$font-url: '../';

// $logo-svg: '#{$base-image-url}/logo.svg';
// $search-svg: '#{$base-image-url}/icons/search.svg';
// $account-svg: '#{$base-image-url}/icons/account.svg';
// $basket-svg: '#{$base-image-url}/icons/basket.svg';
